@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer utilities {
 
  ::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
   background-color: #1173b9ee;
    border-radius: 4px;  
  }

  html {
    scroll-behavior: initial;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  transform-box: fill-box;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
10% {
  -webkit-transform: scale(.91);
  transform: scale(.91);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
17% {
  -webkit-transform: scale(.98);
  transform: scale(.98);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
33% {
  -webkit-transform: scale(.87);
  transform: scale(.87);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}
45% {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}
}

.rotate-reverse {
  -webkit-animation-name: rotate-reverse;
  animation-name: rotate-reverse;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  transform-box: fill-box;
  background-blend-mode: darken;
}
@keyframes rotate-reverse {
  0%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.rotate{
  -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    transform-box: fill-box;
}

  @keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
  .blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease-in-out;
  }



